@import '../../styles/global';

.worklist-container {
  margin-top: 4em;
  font-family: LR-demi;
  .mainContainer{
    width: 98%;
    margin: 0 auto;
    border: 1px solid;
    padding:10px;

    .leftC, .middle, .rightC{
      float: left;
    }
    .leftC{
      width: 23%;
      width: 0 2% 0 0;
    }
    .middle{
      width: 50%;
      ul{
        list-style-type: disc !important;
        margin-left:15px;
        li {
          font-size: 13px;
        }
      }
    }
    .rightC{
      width: 23%;
      width: 0 0 0 2%;
      text-align:center;
      .btnAdd {
        width:80%;
        border:none;
        background: $green-dark;
        height:35px;
        color:$white;
      }
    }
    .clearbot{
      clear:both;
    }
  }
  
  .containers{
    width:23%;
    height:300px;
    margin: 1%;
    border: 1px solid;
    float:left;
    .imgC{
      text-align:center;
      margin:15px 0;
    }
    .description{
      text-align: left;
    }
    .description p{
      font-weight:bold;
      margin:10px auto;
      display: block; /* Fallback for non-webkit */
      display: -webkit-box;
      max-width: 200px;
      height: $font-size*$line-height*$lines-to-show; /* Fallback for non-webkit */
      font-size: $font-size;
      line-height: $line-height;
      -webkit-line-clamp: $lines-to-show;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .description h6{
      margin:10px 15px;
      font-weight:bold;
    }

    .viewC{
      text-align:center;
    }
    .viewMore{
      width: 90%;
      border:1px solid $grey;
      height: 30px;
      color: $blue;
    }
  }
  .filter-container {

    .filter-text-container {

      .filter-text {
        @include truncate(100%);
        font-size: 1em;
        padding: 0 2%;
      }

      &:focus {
        border: none;
        box-shadow: none;
      }
    }

    .filter-select-container {
      margin: .7em 0;
    }

    select.filter-select {
      @include truncate(100%);
      margin-top: .3em;
      font-size: 1em;
    }

    .filter-button,
    .new-button,
    .filter-reset-button {
      @include esdButton(100%, .65em, 0, $black, $black);
      color: $white;
      font-size: 1em;
      margin-bottom: .3em;
      margin-top: 0;
      font-weight: bold;
      letter-spacing: .05em;
    }

    .search-button {
      @include esdButton(100%, .65em, 0, $grey-dark, $black);
      color: $white;
      font-size: 1em;
      margin-bottom: .3em;
    }

    .new-button {
      display: block;
      width: 100%;
      padding: .5em;
    }

    .errorMessage {
      color: $red;
    }
  }

  h2 {
    text-align: center;
  }

  .search-container {
    border: 1px solid $grey-light;
    margin: 0 1.2em;

    .search-content {
      padding: 1.5em;
    }

    .search-header {
      text-align: center;
      width: 90%;
      margin: auto;
      font-size: $font-sm;
      padding: .8em 0;
    }

    .search-close-header {

      &::after {
        transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
      }
    }

    .search-open-header {

      &::after {
        transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
      }
    }

    .search-text {
      @include truncate(96%);
      font-size: 1em;
      padding: 0 2%;
      margin: .1em 0 .8em;
    }

    .search-date {
      @include truncate(96%);
      font-size: 1.2em;
      padding: 0 1%;
      margin: .1em 0 .8em;
    }

    .search-select-container {

      .search-select {
        @include truncate(96%);
        font-size: 1em;
      }
    }
  }

  .worklist-content {
    padding-bottom: 2em;

    .worklist-table-header {
      display: none;
    }

    .worklist-row {
      padding-bottom: 1.5em;

      .worklist-item {
        border-bottom: 1px dotted $grey;
        padding: .7em 0;
        font-size: .8em;
        float: none;
        width: 100%;
        font-family: LR-demi;

        &::after {
          @extend %clear-fix;
        }

        > div {
          @include layoutCol(2, 5%, 0);
        }

        .worklist-item-label {
          color: $black;
          vertical-align: middle;
        }

        .worklist-item-value {
          color: $black;
          vertical-align: middle;
        }
      }

      .worklist-more-button {
        font-family: LR-bold;
        padding-left: 5%;
        padding-top: 1em;
        cursor: pointer;
      }

      .worklist-view {
        @include esdButton(100%, .3em, 0, $white, $black);
        margin-top: .75em;
        font-family: LR-demi;
        font-size: .8em;
      }
    }

    .progress-bar {
      position: relative;
      top: 0.2em;
      padding: 0;
      border: 0;
      width: 98px;
      height: 1em;
      background-color: $grey;
      border-radius: 0.2em;

      .worklist__data__progress.completed {

        div {
          background-color: $green-dark;
        }
      }

      .worklist__data__progress {

        div {
          height: 1em;
          background-color: $green;
          border-radius: 0.2em;
        }
      }
    }
  }
}

@media screen and (min-width: $large) {
  .worklist-container {

    .filter-container {

      .filter-text-container {
        width: 23%;
        float: left;
        margin-right: .5em;
      }

      .filter-select-container {
        width: 15%;
        float: left;
        margin: 0 2em 0 0;

        select {
          margin-top: 0;
        }
      }

      .order-by-select-container {
        display: none;
      }

      .filter-button {
        width: 6%;
        margin-right: 1em;
      }

      .filter-reset-button {
        width: 15%;
      }

      .new-button {
        width: 8%;
        float: right;
      }
    }

    .search-container {
      border: 1px solid $grey-light;
      width: 90%;
      margin: auto;

      .search-header {
        background: $white;
      }
    }

    .worklist-content {
      display: table;

      .worklist-table-header {
        display: table-header-group;
        color: $black;
        font-family: LR-bold;
        font-size: .8em;

        &::after {
          clear: both;
          content: '';
          display: block;
        }

        .worklist-table-header-item {
          @include layoutColWidth(10%, 0, 0);
          display: table-cell;
          padding: 0.5em;
          border: 1px solid $grey-light;
          border-right-width: 0;

          div {
            display: inline-block;
            vertical-align: middle;
          }
        }

        .worklist-table-view {
          border: 1px solid $grey-light;
        }
      }

      .worklist-row {
        font-family: LR-light;
        padding: 0;
        display: table-row;

        .worklist-item {
          @include layoutColWidth(10%, 0, 0);
          display: table-cell;
          border-bottom: 1px solid $grey-light;
          border-left: 1px solid $grey-light;
          padding: .5em;
          text-align: center;

          .worklist-item-label {
            display: none;
          }

          .worklist-item-value {
            width: 100%;
            padding: 0;
          }
        }

        .worklist-view {
          border: 1px solid $grey-light;
          border-top-width: 0;
          margin: 0;
          text-decoration: underline;
        }

        .worklist-more-button {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: $medium) {
  .worklist-content {
    .containers{
      width:98%;
      height:300px;
      margin: 1%;
      border: 1px solid;
      float:none;

      .description h6{
        text-align:center;
      }
    }
    .mainContainer{
      .leftC, .middle, .rightC{
        float: none;
      }
      .leftC{
        width: 100%;
        width: 0 0 0 0;
        .imgC {
          text-align: center;
        }
      }
      .middle{
        width: 100%;
        width: 0 0 0 0;
      }
      .rightC{
        width: 100%;
        width: 0 0 0 0;
      }
      .clearbot{
        clear:both;
      }
  }
    .filter-container {
      .worklist-row {
        .worklist-view {
          color: $black;
          font-family: LR-demi;
        }
      }

      .new-button {
        font-family: LR-bold;
        display: inline-block;
        text-align: center;
        font-size: $font-xsm;
      }
    }
  }
}

@keyframes searchOpenAnimation {
  from {
    top: -100%;
  }
  to {
    top: 0;
  }
}

@keyframes searchCloseAnimation {
  from {
    top: 0;
  }
  to {
    top: -100%;
  }
}
